body{
    font-family: "Ubuntu", sans-serif;
}
/* Inicio estilo de login*/

.h1_pag{
    margin-top: 50px;
    text-align: center;
    color: #1e65c8;
}

.login-container{
    border: 1px solid #000;
    border-radius: 5px;
    width: 350px;
    margin: 60px auto;
    box-shadow: 0 2px 5px #666666;
}

.form_login_h2{
    text-align: center;
}

label{
    display: block;
    margin: 10px 20px;

}

input{
    width: 300px;
    height: 15px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
}

input:hover{
    border-color: #1e65c8;
}



 .Button_login {
    display: block;
    margin: 10px auto;
    background-color: #1e65c8;
    color: #fff;
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 30px;
}
/* final estilo de login*/


/* Inicio estilo de factura*/

.titulo_factura {
    margin-top: 50px;
    text-align: center;
    color: #1e65c8;
}