body{
    font-family: "Ubuntu", sans-serif;
}

/* Inicio estilo de login*/

.h1_pag{
    margin-top: 50px;
    text-align: center;
    color: #1e65c8;
}

.login-container{
    border: 1px solid #d4d1d1;
    border-radius: 5px;
    width: 350px;
    margin: 60px auto;
    box-shadow: 0 2px 5px #c1c0c0;
}

.form_login_h2{
    text-align: center;
}

label{
    display: block;
    margin: 10px 20px;

}

#usuario_login, #contraseña_login{
    width: 300px;
    height: 15px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
}

input:hover{
    border-color: #1e65c8;
}



 .Button_login {
    display: block;
    margin: 10px auto;
    background-color: #1e65c8;
    color: #fff;
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 30px;
}
/* final estilo de login*/


/* Inicio nav*/
.nav_nav {
    background-color: #000;
}

/* Inicio nav*/


.titulo_factura {
    margin-top: 50px;
    text-align: center;
    color: #000;
}

.input_id_cliente {
    width: 200px;
    height: 15px;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-left: 20px;
}

.Button_factura {
    background-color: #1e65c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 25px;
}



.factura {
    border: #d4d1d1 solid 1px;
    width: 400px;
    display: block;
    margin: auto;
    box-shadow: 0 1px 7px #c1c0c0;

}

.info_factura, #id_l_cliente {
    margin-left: 20px;
}

.info_direccion {
    text-align: center;
    
}

.Button_imprimir {
    display: block;
    margin: 10px auto;
    background-color: #1e65c8;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}


/* modal cerrar sesion */

.modal1 a{
    font-size: 1em;
    text-decoration: none;
    color: #000;
}

.modal1 {
    position: fixed;
    top: 50px;
    right: 5px;
    bottom: 10px;
    display: block;
    opacity: 0;
    pointer-events: none;
} 



.modal1--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity 2s;
}


.modal1_container {
    margin: auto;
    width: 50%;
    max-width: 750px;
    max-height: 80%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #d4d1d1;
    padding: 1em 1.5em;
    display: grid;
    gap: 1em;
    place-items: right;
    grid-auto-columns: 100%;   
}

/* inicio de modal */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    overflow: scroll;
    display: flex;
    opacity: 0;
    pointer-events: unset;
    pointer-events: none;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity 1s;
}

.modal1_container, .modal3_container {
    margin: auto;
    width: 90%;
    max-width: 700px;
    max-height: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #d4d1d1;
    padding: 1em 1em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%; 
}

/* fin de modal ingresar productos */

/* inicio de modal ingresar servicios */

#modal2_contenedor, #modal4_contenedor{
    border: 1px solid;
    margin: auto;
    width: 100%;
    max-width: 600px;
    max-height: 750px;
    background-color: #fff;
    border-radius: 6px;
    padding: 0.5em 0.5em;
    display: grid;
    gap: 1em;
    align-items: center;
    text-align: center;
}

/* fin de modal ingresar servicios */

/* negro obsidian #020403 */

.guardar, .Guardar_cerrarModal, .B_editar_servicios, .B_editar_productos{
    padding: 10px 20px;
    margin: 20px;
    font-size: 15px;
    color: #1e65c8;
    background-color: #fff;
    border: 1px solid #020403;
    border-radius: 3px;
    
}

/* botones de modal */

.Boton {
    background-color: #fff;
    color: #1e65c8;
    font-size: 1em;
    margin: auto;
    width: 80%;
    height: 30px;
    text-align: center;
    border: 1.5px solid #1e65c8;
    border-radius: 3px;
}

.Boton { 
    margin: 5px;
    padding: 15px;
    width: 95%;
    height: 60px;
    border-radius: 10px;
}

.Boton:hover{
    color: #fff;
    background-color: #1e65c8;
    transition: .4s;
}

.container {
    display: flex;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Cambia la dirección de flex a columna */
    }
}

/* botones de informes tablas */

.reports table {
    width: 270%;
    height: 280px;
    border-radius: 10px;
    border-collapse: collapse;
}
.reports th, .reports td {
    border: none;
    padding: 8px;
    text-align: center;
}
.reports th {
    background-color: #d4d1d1;
    color: #000;
    text-align: center;
    height: 20px;
    text-decoration: none;
}

.reports th a{
    text-decoration: none;
}



.reports tr:hover {
    background-color: #ddd;
}

.reports td {
    border: none;
}

.reports a {
    color: #020403;
    text-decoration: none;
}

/* cerrar modales */

.cerrarM{
    float: right;
    text-decoration: none;
    font-size: 20px;
    color: #020403;
    text-align: right;
    padding: 10px;
}

